.close-btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 4px 6px;

  transition: opacity 0.15s, background 0.15s, color 0.15s, transform 0.15s;
}

.close-btn:hover {
  background: red;
  color: white;
}

.close-btn:active {
  transform: scale(0.8);
}
.close-btn span {
  color: inherit;
  font-size: 18px;
}
