.show-msg-action {
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-msg-action .show-msg-wrapper {
  width: fit-content;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.5);
}

.show-msg-action .show-msg-wrapper .msg {
  color: white;
  font-size: 16px;
  word-wrap: break-word; /*deals with single word*/
}
