.wrapper .container > p {
  margin-top: -10px;
  font-weight: 400;
  font-size: 0.9rem;
  color: var(--primary-font-color);
  letter-spacing: 0.95px;
  opacity: 0.85;
}

.wrapper .container .login-management-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0 2px;
  column-gap: 6px;
  user-select: none;
  margin-top: -10px;
  margin-bottom: 30px;
}
.wrapper .container .login-management-container * {
  cursor: pointer;
  font-size: 0.95rem;
  line-height: 24px;
}

.wrapper .container .login-management-container > a {
  text-decoration: none;
  color: var(--green);
  text-align: end;
}

.wrapper .container .login-btn {
  width: 200px;
  padding: 10px;
  border-radius: 6px;
}
.wrapper .container > a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: var(--green);
}
