.user-role-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* row-gap: 20px; */
  min-width: 425px;
  width: 38%;
}
.user-role-container h4 {
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 40px;
  padding-bottom: 8px;
  color: var(--primary-font-color);
}

.user-role-container .role-input-container {
  display: flex;
  column-gap: 40px;
  min-width: fit-content;
  margin-bottom: 40px;
}
.user-role-container .role-input-container .card {
  width: 100%;
  border: 1px solid gray;
  border-radius: 6px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-areas:
    "img radio-btn"
    "paragraph paragraph"; */
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.15s, transform 0.15s ease-in-out;
}

.user-role-container .role-input-container .card:active {
  transform: scale(0.95);
}
.user-role-container .role-input-container .card:hover,
.user-role-container .role-input-container .card.checked {
  outline: 2px solid black;
  outline-offset: -2px;
  background-color: rgba(0, 0, 255, 0.03);
}

.user-role-container .role-input-container .card > img {
  /* grid-area: img; */
  width: 30px;
}
.user-role-container .role-input-container .card > input[type="radio"] {
  /* grid-area: radio-btn; */
  margin-left: auto;
  accent-color: green;
  /* transform: scale(1.5); */
  width: 24px;
  height: 24px;
  cursor: pointer;
  /* margin-right: 3px; */
}

.user-role-container .role-input-container .card > p {
  /* grid-area: paragraph; */
  grid-column: 1 / 3; /* start / end */
  /* grid-area: 2 / 1 / 3 / 3; row-start / col-start / row-end / col-end */
  font-size: 1.5rem;
  font-weight: 500;
  margin: 16px 0 12px 0;
  padding-right: 12px;
}

.user-role-container > div .conformation-btn {
  font-size: 16px;
  padding: 0 25.6px;
  line-height: 36.8px;
  border-radius: 7px;
  margin-bottom: 24px;
}
.user-role-container > div.disabled {
  cursor: not-allowed;
}
.user-role-container > div.disabled .conformation-btn {
  background-color: lightgray;
  color: gray;
  pointer-events: none;
}
.user-role-container > p {
  font-size: 0.92rem;
  color: rgba(0, 0, 0, 0.8);
}
.user-role-container > p > a {
  color: var(--green);
}
