.wrapper .reset-password h4 {
  font-size: 1.6rem;
}
.wrapper .reset-password span {
  font-size: 0.87rem;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
}
.wrapper .reset-password.otp span > span {
  color: rgba(0, 0, 0, 0.9);
}
.wrapper .reset-password .input-container {
  width: 100%;
}

.wrapper .reset-password .input-container label {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 8px;
  display: block;
}

.wrapper .reset-password .input-container.email-container .input-bar-container {
  margin-top: -12px;
  cursor: not-allowed;
}
.wrapper
  .reset-password
  .input-container.email-container
  .input-bar-container
  input {
  margin-top: 5px;
  pointer-events: none;
  background-color: rgba(216, 216, 216, 0.5);
  color: rgba(0, 0, 0, 0.7);
}

.wrapper .reset-password .green-btn {
  padding: 12px 24px;
}
