/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 32px;
}
.wrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-sizing: border-box; */
  max-width: 28%;
  min-width: 250px;
  flex: 1 0;
  row-gap: 25px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border: none;
  border-radius: 10px;
  padding: 40px 78px;
}
.wrapper .container > * {
  max-width: 350px;
}

.green-btn {
  position: relative;
  color: white;
  background-color: var(--green);
  border-radius: 12px;
  transition: transform 0.3s ease, background-color 0.15s ease;
}
.green-btn::before {
  z-index: 100;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* padding: 1.5px; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: transparent;
  border-radius: inherit;
}
.green-btn:hover {
  background-color: rgb(0, 170, 0);
}
.green-btn:hover::before {
  border: 2px solid var(--primary-font-color);
}
.green-btn:active {
  transform: scale(0.9);
}
/* a {
  color: yellow !important;
} */

/* HTML: <div class="loading"></div> */
.loading-wrapper {
  position: fixed;
  inset: 0;
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */

  backdrop-filter: blur(4px);
  background: rgba(200, 200, 200, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 100%;
  z-index: 10000;
}
.loading-wrapper .loading {
  pointer-events: none !important;
  height: 60px;
  aspect-ratio: 2;
  position: relative;
}
.loading:before {
  content: "";
  position: absolute;
  inset: 100% 75% -3px 0;
  background: #524656;
  animation: l4-0 0.7s linear infinite alternate;
}
.loading:after {
  content: "";
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: green;
  animation: l4-1 0.7s cubic-bezier(0, 700, 1, 700) infinite alternate,
    l4-2 0.7s linear infinite alternate;
}
@keyframes l4-0 {
  0%,
  30% {
    translate: 0% -2px;
    rotate: 20deg;
  }
  70%,
  to {
    translate: 300% -2px;
    rotate: -20deg;
  }
}
@keyframes l4-1 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}
@keyframes l4-2 {
  0% {
    translate: -220%;
  }
  to {
    translate: 220%;
  }
}

.api-error-span {
  width: 100%;
  /* display: none; */
  font-size: 0.75rem;
  color: tomato;
}
