@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 0.1px;
}

.text-btn {
  min-width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 14.5px;
  background: white;
  color: rgb(0, 0, 0, 0.85);
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
}

.char-btn {
  height: 33px;
  width: 33px;
  border: none;
  border-radius: 50%;
  background: none;

  font-size: 21px;
  font-weight: 200;
  /* padding: 0px 10px; */
  transition: background 0.15s, color 0.15s, transform 0.15s;
  cursor: pointer;
}

.char-btn:hover,
.text-btn:hover {
  color: white;
  background: lightgray;
}

.char-btn:active,
.text-btn:active {
  transform: scale(0.9);
}
