main .req-collection-section .saved-collection-wrapper {
  /* height: calc(100% - 65px); */
  /* padding-top: 5px; */
  flex: 1;
  padding: 0 6px;
  overflow-y: auto;
  overflow-x: hidden;
  /* scrollbar-gutter: stable; */
}
main .req-collection-section .saved-collection-wrapper::-webkit-scrollbar {
  display: none;
}
