main .req-collection-section .saved-collection-wrapper .collection {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-size: 14px;
  padding: 2px 5px;

  border: none;
  border-radius: 2px;

  cursor: pointer;
  transition: background 0.15s;
  /* background: lightblue; */
}
main .req-collection-section .saved-collection-wrapper .collection:hover {
  background: lightgray;
}
main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .collection-name-wrapper {
  width: 100%;
  height: 30px;
  display: flex;
  column-gap: 4px;
  align-items: center;
  justify-content: space-between;
  /* background:lightgreen; */
  user-select: none;
}
main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .collection-name-wrapper
  .collection-name {
  /* background: lightpink; */
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; /*deals with sentence's white space*/

  display: flex;
  align-items: center;
  line-height: 25px;
}

main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .collection-name-wrapper
  .collection-name
  .arrow {
  font-size: 25px;
  display: inline-block;
  transition: transform 0.2s;
}

main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .collection-name-wrapper
  .collection-name
  .arrow.clicked {
  transform: rotate(90deg);
}

.google-symbols-rounded {
  font-size: 18px;
  /* align-self: center; */
  border: none;
  border-radius: 50px;
  padding: 3px;
  opacity: 0;
  transition: opacity 0.5s, background-color 0.2s, transform 0.2s;
}
.google-symbols-rounded:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.google-symbols-rounded:active {
  transform: scale(0.8);
}
main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .collection-name-wrapper:hover
  .google-symbols-rounded {
  opacity: 1;
}
