main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .saved-req-wrapper {
  max-height: 0px;
  transition: max-height 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  scrollbar-gutter: stable;
}
main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .saved-req-wrapper::-webkit-scrollbar {
  width: 3px;
  background: white;
}
main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .saved-req-wrapper::-webkit-scrollbar-thumb {
  background: gray;
}
main
  .req-collection-section
  .saved-collection-wrapper
  .collection
  .saved-req-wrapper.clicked {
  max-height: 465px;
}
