@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@import "./pages/Form.css";

@layer base {
  * {
    @apply m-0 p-0 font-open-sans selection:text-gray-100 selection:bg-cyan-400;
  }
  body {
    @apply bg-black/99;
  }
}

@theme {
  --font-open-sans: "Open Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
