.delete-component-wrapper {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(1.5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-component-wrapper .container {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 10px;
  width: 50%;
  max-width: 500px;
}

.delete-component-wrapper .container .btn-container button {
  margin-right: 5px;
}
