#root > .header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 600px;
  height: 60px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  z-index: 100;
}

#root > .header a {
  width: fit-content;
  height: inherit;
  text-decoration: none;
  position: absolute;
}
#root > .header a img {
  padding: 7px 10px;
  box-sizing: border-box;
  height: inherit;
}

#root > .header h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  /* flex: 1;
  text-align: center; */
  margin: auto;
}
